{% extends "user_profile_template.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lists</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
    </style>
</head>
<body>
    <h2>Username: {{ username }}</h2>
    <h2>Project selected: {{ selectedProject }}</h2>
    <h3>Project data:</h3>

    <form method="get" action="{% url 'show_papers_stats' %}"></form>
    
    <table>
        <thead>
            <tr>
                <th>Types</th>
                <th>Papers Counts</th>
                <th>Citation Sum</th>
                <th>Citation Mean</th>
                <th>Geometric Mean</th>
            </tr>
        </thead>
        <tbody>
            {% for data in paper_stats %}
                <tr>
                    <td>{{ data.type }}</td>
                    <td>{{ data.paper_count }}</td>
                    <td>{{ data.citation_sum }}</td>
                    <td>{{ data.citations_mean }}</td>
                    <td>{{ data.geometric_mean }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h4>Total mean: {{ total_mean }}</h4>

</body>
</html>
{% endblock %}
